@{
    ViewBag.Title = "Dashboard";
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"></script>
<script src="~/Scripts/angular-ui/ui-sortable.js"></script>
<script src="~/Scripts/angular-ui/ui-bootstrap.min.js"></script>
<script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>
<script src="~/Scripts/angular-ui/ui-sortable.js"></script>
<script src="~/Scripts/angular-ui/ui-sortable.js"></script>
<script src="~/Scripts/angular-file-upload.min.js"></script>
<script src="~/Scripts/angular-file-upload-shim.min.js"></script>
<script src="~/app/SpenderApp.js"></script>
<script src="~/app/services/broadcasterService.js"></script>
<script src="~/app/controllers/BillsController.js"></script>
<script src="~/app/controllers/BudgetController.js"></script>
<script src="~/app/controllers/CategoryController.js"></script>
<script src="~/app/controllers/ExpensesController.js"></script>
<script src="~/app/controllers/IncomesController.js"></script>
<link type="text/css" rel="stylesheet" href="//cdn.jsdelivr.net/fullcalendar/1.6.1/fullcalendar.css" />
<script src="//cdn.jsdelivr.net/fullcalendar/1.6.1/fullcalendar.js"></script>
<script src="~/Scripts/calendar.js"></script>

<div class="container" ng-app="SpenderApp">
    <div class="row" ng-controller="BillsController" ng-init="init()">
        @Html.Action("Bills")
    </div>
    <div class="row" ng-controller="IncomesController" ng-init="init()">
        @Html.Action("Incomes")
    </div>
    <div class="row" ng-controller="ExpensesController" ng-init="init()">
        @Html.Action("Expenses")
    </div>
    <div class="row" ng-controller="BudgetController" >
        @Html.Action("Budgets")
    </div>
    <div class="row" ng-controller="CategoryController" ng-init="init()">
        @Html.Action("Categories")
    </div>
</div>